#cabecera, #menu, #lateral, #comentarios {
  display: none !important;
}

body, #contenido, #principal, #pie {
  float: none !important;
  width: auto !important;
  margin:  0 !important;
  padding: 0 !important;
}


