/* HeatMap OLD*/
/*
.heatmap1{
width:100%;height:400px;
background-color:#f20505;
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#f20505, endColorstr=#c2f01d);
background-image:-moz-linear-gradient(right top, #f20505 33%, #c2f01d 75%,#0ccc16 95%);
background-image:linear-gradient(right top, #f20505 33%, #c2f01d 75%,#0ccc16 95%);
background-image:-webkit-linear-gradient(right top, #f20505 33%, #c2f01d 75%,#0ccc16 95%);
background-image:-o-linear-gradient(right top, #f20505 33%, #c2f01d 75%,#0ccc16 95%);
background-image:-ms-linear-gradient(right top, #f20505 33%, #c2f01d 75%,#0ccc16 95%);
 background-image:-webkit-gradient(linear, right top, left bottom, color-stop(33%,#f20505), color-stop(75%,#c2f01d),color-stop(95%,#0ccc16));
/*sombra 
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75); 
}
*/

.heatmap1{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6bce0e+16,f2ea07+27,f2ea07+27,f2ea07+27,f2ea07+27,f2ea07+27,f2ea07+27,f2ea07+31,f2ea07+31,f2ea07+31,f2ea07+31,f2ea07+31,f2ea07+31,f2ea07+31,f2ea07+31,f2ea07+31,ff1111+68,db2a0f+99,d61706+100,db2a0f+100 */
    width:100%;height:400px;
    background: #6bce0e; /* Old browsers */
    background: -moz-linear-gradient(45deg, #6bce0e 16%, #f2ea07 27%, #f2ea07 27%, #f2ea07 27%, #f2ea07 27%, #f2ea07 27%, #f2ea07 27%, #f2ea07 31%, #f2ea07 31%, #f2ea07 31%, #f2ea07 31%, #f2ea07 31%, #f2ea07 31%, #f2ea07 31%, #f2ea07 31%, #f2ea07 31%, #ff1111 68%, #db2a0f 99%, #d61706 100%, #db2a0f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #6bce0e 16%,#f2ea07 27%,#f2ea07 27%,#f2ea07 27%,#f2ea07 27%,#f2ea07 27%,#f2ea07 27%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#ff1111 68%,#db2a0f 99%,#d61706 100%,#db2a0f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #6bce0e 16%,#f2ea07 27%,#f2ea07 27%,#f2ea07 27%,#f2ea07 27%,#f2ea07 27%,#f2ea07 27%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#f2ea07 31%,#ff1111 68%,#db2a0f 99%,#d61706 100%,#db2a0f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bce0e', endColorstr='#db2a0f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*Circulo para heatmap*/
.circulo {
     width: 20px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000;
     margin-top: center;
    margin-right: center;

     /*formato de texto interior */
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.8em;
    font-size: 12px;
    text-align: center;

    /*sombra */
    -webkit-box-shadow: 3px 3px 1px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 1px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 1px 0px rgba(50, 50, 50, 0.75);
}

/*Circulo pequeño para heatmap*/
.circulo-small {
     width: 15px;
     height: 15px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000;
     margin-top: center;
    margin-right: center;

     /*formato de texto interior */
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.4em;
    font-size: 10px;
    text-align: center;

    /*sombra */
    -webkit-box-shadow: 3px 3px 1px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 1px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 1px 0px rgba(50, 50, 50, 0.75);
}